
label{
    display: block;
    margin: 8px 0px;
}

textarea{
    display: block;
    width: 353px;
    height: 92px;
}

form p{
    margin: 22px 0px 0px 0px;
}

.new-question{
    margin: 22px 0px 0px 0px;
}

.required{
    font-weight: bold;
    text-decoration: underline;
}